@import '@common-styles/variables.scss';

.textarea {
  font-family: $font__sanSerif;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  padding: 0.875rem;
  margin: 0;
  transition: all 0.25s;
  border-radius: 4px;
  background-color: var(--grey-50);

  &:focus {
    &:not(:disabled) {
      background-color: var(--grey-200);
    }
  }

  &:disabled {
    background-color: transparent;
  }
}
