@import '@common-styles/mixins';

.toolbar {
  @include px(20);
}

.drawer {
  .link {
    &--selected {
      background-color: #ddd;
    }
  }
}
.selected {
  display: block;
  background-color: rgba(#2c5364, 0.25);
}

.logo {
  @include middle;
  justify-content: flex-start;
  width: 100%;
  padding-left: 16px;
  font-size: 24px;
  font-weight: bold;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
