# Dependencies
node_modules/
vendor/

src/core/public/css/
src/core/public/js/
src/core/public/images/
src/core/public/fonts/

# Environments
.env

.phpunit.result.cache
docker-compose.override.yml

# IDE config
/.idea
/.vscode
.DS_Store

# version control
.history/

# Database
tools/mysql/data/*
