# Dependencies
node_modules/
vendor/

public/

# Environments
.env

.phpunit.result.cache
docker-compose.override.yml

# IDE config
/.idea
/.vscode
.DS_Store

# version control
.history/

# Database
tools/mysql/data/*

