@import '../commons//mixins';
@import '../commons/variables';


#loading {
    @include center;
    @include matchParentSize;
    position: absolute;
    inset: 0 0 0 0;
    background-color: #FFF;
    z-index: 10000;
    
    #spinner {
        border: 5px solid #e2e2e2;
        border-top: 5px solid $color-primary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}