@import '../commons/mixins';
@import '../commons/variables';

.navbar {
  @include middle;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid #ddd;
  height: 4rem;

  &__logo {
    font-weight: bold;
  }

  &__nav {
    @include middle;
    margin-bottom: 0;

    .nav-item {
      @include middle;
      border-radius: 5px;
      transition: all 0.25s;

      &__icon {
        width: 1rem;
        height: 1rem;
      }

      &:not(:last-child) {
        margin-right: 5px;
        padding: 0.5rem 0.75rem;
      }

      &:hover {
        background-color: #dee2e6;
      }
    }

    .quick-user {
      @include matchParentSize;

      &__toggle {
        background-color: transparent;
        border: none;
        padding: 0;
        color: #000;
        padding: 0.35rem 0.75rem;
      }

      &__name {
        font-weight: bold;
      }
    }
  }
}
