@import '../commons/mixins';
@import '../commons/variables';

.sidebar {
    @include flexColumn;
    background-color: #FFF;
    border-radius: $container-border;
    padding: 1rem;
    width: 14rem;
    height: 100%;
    
    &--compress {
        width: 5rem;

        .sidebar__toggle {
            transform: rotate(180deg);
        }

        .logo-name {
            display: none;
            pointer-events: none;
        }

        .sidebar__logo {
            justify-content: center;
        }

        .sidebar__nav {

            .nav-item {
                justify-content: center;
                padding: 0;

                &__label {
                    display: none;
                }

                &__link {
                    padding: 0.5rem;
                    text-align: center;
                }

                &:hover {
                    .nav-item__tooltip {
                        display: block;
                    }
                }
            }
        }
    }

    &__toggle {
        padding: 3px 10px;

        .toggle-arrow {
            transition: transform 0.25s;
            transition-timing-function: ease-in-out;
        }

        &:hover {            
            .toggle-arrow {
                transform: translateX(-10px);
            }
        }
    }
    

    &__logo {
        @include middle;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__nav {
        @include flexColumn;
        flex-grow: 1;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        
        .nav-item {
            @include middle;
            transition: background-color 0.25s;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
                border-bottom: 1px solid rgba(#dee2e6, 0.25);
            }

            &--active,
            &:hover {
                background-color: #dee2e6;
                border-radius: 5px;

                .nav-item__tooltip {
                    opacity: 1;
                }
            }

            &__link {
                @include matchParentSize;
                padding: .5rem 1rem;

                .link-icon {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }

            &__label {
                margin-left: .75rem;
            }

            &__tooltip {
                position: absolute;
                left: 150%;
                top: 0;
                padding: 0.25rem 1rem;
                border-radius: 5px;
                border: 1px solid #dee2e6;
                background: #FFF;
                opacity: 0;
                display: none;
            }
        }
    }
}