:root {
  --white: #fff;
  --black: #000;
  --grey-0: #FAFBFC;
  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --primary-blue: #42A5F5;
  --status-success: #689F38;
  --status-warning: #F9A825;
  --status-danger: #EF6C00;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #ebefed;
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
}
body main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body a:link, body a:visited, body a:hover {
  text-decoration: none;
}
body ul {
  list-style-type: none;
  padding: 0;
}
body input {
  box-shadow: none;
  outline: none;
  display: block;
  font-size: inherit;
}
body button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.bg-white {
  background-color: #FFF;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.pt-12 {
  padding-top: 3rem;
}

.mr-12 {
  margin-right: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.mr-14 {
  margin-right: 3.5rem;
}

.pr-14 {
  padding-right: 3.5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.mx-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.pt-16 {
  padding-top: 4rem;
}

.mr-16 {
  margin-right: 4rem;
}

.pr-16 {
  padding-right: 4rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.ml-16 {
  margin-left: 4rem;
}

.pl-16 {
  padding-left: 4rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.mt-18 {
  margin-top: 4.5rem;
}

.pt-18 {
  padding-top: 4.5rem;
}

.mr-18 {
  margin-right: 4.5rem;
}

.pr-18 {
  padding-right: 4.5rem;
}

.mb-18 {
  margin-bottom: 4.5rem;
}

.pb-18 {
  padding-bottom: 4.5rem;
}

.ml-18 {
  margin-left: 4.5rem;
}

.pl-18 {
  padding-left: 4.5rem;
}

.my-18 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.py-18 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.mx-18 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.px-18 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.mr-20 {
  margin-right: 5rem;
}

.pr-20 {
  padding-right: 5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.ml-20 {
  margin-left: 5rem;
}

.pl-20 {
  padding-left: 5rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.border-0 {
  border-width: 0px;
}

.border-radius-0 {
  border-radius: 0px;
}

.border-1 {
  border-width: 1px;
}

.border-radius-1 {
  border-radius: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-3 {
  border-width: 3px;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-4 {
  border-width: 4px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-5 {
  border-width: 5px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-6 {
  border-width: 6px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-7 {
  border-width: 7px;
}

.border-radius-7 {
  border-radius: 7px;
}

.border-8 {
  border-width: 8px;
}

.border-radius-8 {
  border-radius: 8px;
}

.fs-1 {
  font-size: 0.25rem;
}

.fs-2 {
  font-size: 0.5rem;
}

.fs-3 {
  font-size: 0.75rem;
}

.fs-4 {
  font-size: 1rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1.5rem;
}

.fs-7 {
  font-size: 1.75rem;
}

.fs-8 {
  font-size: 2rem;
}

.fs-10 {
  font-size: 2.5rem;
}

.fs-12 {
  font-size: 3rem;
}

.fs-14 {
  font-size: 3.5rem;
}

.fs-16 {
  font-size: 4rem;
}

.fs-18 {
  font-size: 4.5rem;
}

.fs-20 {
  font-size: 5rem;
}

.text-grey-400 {
  color: var(--grey-400);
}

.text-primary-blue {
  color: var(--primary-blue);
}

.text-status-active {
  color: var(--status-success);
}

.text-status-pending {
  color: var(--status-warning);
}

.text-status-suspened,
.text-status-blocked {
  color: var(--status-danger);
}

.hover-underline:hover {
  text-decoration: underline;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

:root {
  --white: #fff;
  --black: #000;
  --grey-0: #FAFBFC;
  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --primary-blue: #42A5F5;
  --status-success: #689F38;
  --status-warning: #F9A825;
  --status-danger: #EF6C00;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  background-color: #fff;
  z-index: 10000;
}
#loading #spinner {
  border: 5px solid #e2e2e2;
  border-top: 5px solid #0d3228;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  border-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.button.create {
  background-color: #F5F5F5;
  color: #2196F3;
}
