@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin middle {
  display: flex;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin matchParentSize {
  width: 100%;
  height: 100%;
}

@mixin circle {
  border-radius: 50%;
}

// PADDING
@mixin px($value) {
  padding-left: $value * 1px;
  padding-right: $value * 1px;
}

@mixin hoverTextUnderline() {
  &:hover {
    text-decoration: underline;
  }
}
