@import './mixins';

// By sizes
$spacers: 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 18, 20;

@each $spacer in $spacers {
  .fs-#{$spacer} {
   font-size: #{$spacer* 0.25} + 'rem';
  }
}

// By colors
.text-grey-400 {
  color: var(--grey-400);
}

.text-primary-blue {
  color: var(--primary-blue);
}

.text-status-active {
  color: var(--status-success);
}

.text-status-pending {
  color: var(--status-warning);
}

.text-white {
  color: white;
}

.text-status-suspened,
.text-status-blocked {
  color: var(--status-danger);
}


// By state
.hover-underline {
  @include hoverTextUnderline;
}

.text-capitalize {
  text-transform: capitalize;
}

// Alignment
$alignments: left, center, right;

@each $alignment in $alignments {
  .text-#{$alignment} {
   text-align: #{$alignment};
  }
}
