/////////////////
/// PATHS
$path__openSans: '~@assets/fonts/Open_Sans/';

/////////////////
/// FONTS
$font__sanSerif: 'Open Sans', sans-serif;

/////////////////
/// COLORS
$color-primary: #0d3228; // forest green
$color-primary--dark: #000c00;
$color-primary--light: #375c50;
$color-primary--bg: #ebefed;

/////////////////
/// BORDERS
$container-border: 5px;

:root {
  --white: #fff;
  --black: #000;
  --grey-0: #FAFBFC;
  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
}
