/////////////////
/// PATHS
$path__openSans: '~@assets/fonts/Open_Sans/';

/////////////////
/// FONTS
$font__sanSerif: 'Open Sans', sans-serif;

/////////////////
/// COLORS
$color-primary: #0d3228; // forest green
$color-primary--dark: #000c00;
$color-primary--light: #375c50;
$color-primary--bg: #EBEFED;


/////////////////
/// BORDERS
$container-border: 5px;



:root {
    --color-light: #FFF;
}
