:root {
  --white: #fff;
  --black: #000;
  --grey-0: #FAFBFC;
  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --primary-blue: #42A5F5;
  --status-success: #689F38;
  --status-warning: #F9A825;
  --status-danger: #EF6C00;
}

.blogs {
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}
.blogs__toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
