@import '../commons/mixins';
@import '../commons/variables';

.auth {
  &__container {
    @include center;
    margin: auto 0;
  }

  &__form {
    @include flexColumn;
    align-items: center;
    background-color: var(--color-light);
    border-radius: 6px;
    padding: 3.2rem;
    min-width: 36rem;

    .title {
      font-size: 2.4rem;
      text-transform: capitalize;
      color: #212121;
      margin-bottom: 4.2rem;
    }

    .control {
      transition: all 0.25s;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.6rem;
      background-color: transparent;

      &.error {
        background-color: rgba(#ff0000, 0.1);
        border: 1px solid rgba(#ff0000, 0.5);
      }
    }

    .control__input {
      flex: 1;
      font-size: 1.6rem;
      padding: 1rem 1.2rem;
      margin-bottom: 0.4rem;
      border-radius: 6px;
      min-height: 3.2rem;
      background-color: #fafafa;

      &:hover {
        background-color: #eeeeee;
      }

      &::placeholder {
        font-weight: 300;
        color: #bdbdbd;
      }
    }

    .control__error {
      font-size: 1.4rem;
      height: 1.6rem;
      color: rgba(#ff0000, 0.75);
    }

    .actions {
      transition: all 1.5s;
      width: min-content;

      &.error {
        @include middle;
        width: 100%;
        justify-content: space-between;
      }

      &__status {
        font-size: 1.4rem;
        height: 1.6rem;
        color: rgba(#ff0000, 0.75);
      }
    }

    .submit {
      @include center;
      width: 4.8rem;
      height: 4.8rem;
      background-color: #fafafa;
      transition: all 0.25s;
      border-radius: 6px;

      &:hover {
        background-color: #eeeeee;
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: #616161;
      }
    }
  }
}

// .auth-form {
//   flex: 1;
//   display: flex;

//   &__container {
//     @include center;
//     flex-direction: column;
//     flex: 1;
//     animation: onload 0.5s;
//   }

//   &__thumbnail {
//     @include center;
//     background-color: rgba($color-primary--light, 0.75);
//     flex: 0 0 45%;
//     animation: onload 0.85s;
//   }

//   &__form {
//     min-width: 25rem;
//   }
// }

// @keyframes onload {
//   0% {
//     transform: translateX(-15%);
//     opacity: 0;
//   }

//   75% {
//     opacity: 1;
//   }

//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }
