@import '../commons/variables';
@import '../commons/mixins';

.blogs {
    padding: 1rem;
    background-color: white;
    border-radius: $container-border;

    &__toolbar {
        @include middle;
        justify-content: flex-end;
    }
}